<!--The content below is only a placeholder and can be replaced. -->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="https://cdn2.iconfinder.com/data/icons/farm-animal/100/farm_4-512.png">
</div>

<div style="padding: 10px 0">
  <input type="text" placeholder="Search places..." [(ngModel)]="query" />
  <button (click)="map.places(query)">Search</button>
</div>
<here-map appId="mYrOKG6Y0liojLdg0hvQ" appCode="At7q4TCeCI6BXaEWXk7Ksw" lat="48.1372257" lng="11.5753994" width="100%" height="835px"></here-map>


<router-outlet></router-outlet>


